@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html {
    overflow-y: scroll;
}

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 14px;
  font-weight: bold;
}

#logo:hover {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}
/* typography */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #777;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* Show Entry */

.row.entry {
    padding: 10px 0;
    border-top: 2px solid #e8e8e8;
}      
.title {
    padding-top: 100px;   
    
}
.name {
    text-align: center;
    font-size: 3.7em;
    color:#404040;
    line-height: 1;
}

.name:visited{
    color: #404040;
}
.name:hover {
    color: #404040;
    background-color: transparent;
    text-decoration: none;
}

.poster{
     float: left;
     margin-right: 10px;
     margin-top: 5px;
     height: 243px;
     width: 168px;
}
/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
}

input {
    height: auto !important;
}

/* login */

.login  {
    
    h1 {
        color: #fff;
        font-size: 3em;
        letter-spacing: -2px;
        margin-bottom: 30px;
        text-align: center;
    }
    label {
        color: #fff
    }
    background-color:#3a333c
}
